body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.btn {
  min-width: 60px;
  height: 40px;
  color: #ffffff;
  border: none;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  background-color: #EB4826;
  color: #ffffff;
}
.btn-primary {
  background-color: #ED6F2E;
}
.btn-social {
  background-color: #EB4826;
  font-weight: 400;
}
.btn-social:hover {
  background-color: #ED6F2E;
  color: #ffffff;
}
.btn-dark {
  background-color: #393937;
}
.btn-dark:hover {
  background-color: #252525;
  color: #ffffff;
}
.btn-outline {
  background-color: transparent;
  border: solid 2px #ED6F2E;
  color: #ffffff;
}
.btn-outline:hover {
  background-color: #ED6F2E;
  color: #ffffff;
}
.btn__icon {
  padding-right: 8px;
  max-width: 24px;
}

.menu {
  width: 100%;
  height: 64px;
  display: block;
  position: absolute;
  top: 0;
  display: flex;
}
.menu__logo {
  background-image: url("../assets/svg/logo-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #252525;
  width: 20%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .menu__logo {
    background-image: url("../assets/svg/logo.svg");
    background-size: 96px;
  }
}
.menu__search {
  width: 60%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__search img {
  width: 24px;
  margin-left: 18px;
  margin-right: 8px;
}
.menu__search input {
  height: 100%;
  width: calc(100% - 32px);
  padding-left: 12px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 18px;
}
.menu__search input:focus {
  outline: none;
  border: #ED6F2E solid 1px;
}
.menu__hamburguer {
  background-color: #252525;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__hamburguer .element {
  width: 5px;
  height: 5px;
  margin: 2px;
  border-radius: 10px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .menu__hamburguer .element {
    width: 24px;
    height: 3px;
  }
}
.menu__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__text {
  color: #ffffff;
  padding: 12px;
  text-transform: uppercase;
  display: none;
}
@media screen and (min-width: 768px) {
  .menu__text {
    display: block;
  }
}

.banner {
  background-image: url("../assets/img/main-banner-mobile.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-transform: uppercase;
  text-align: center;
  padding: 32px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .banner {
    background-image: url("../assets/img/main-banner.jpg");
    justify-content: center;
    text-align: left;
    align-items: center;
    flex-direction: row;
    padding: 0px;
  }
}
.banner span {
  display: block;
}
.banner__form {
  background-color: #ED6F2E;
  height: calc(100% - 64px);
  width: 100%;
  align-self: flex-end;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .banner__form {
    display: flex;
  }
}
.banner__form .form {
  width: 100%;
}
.banner__form .form label.error {
  text-transform: none;
  font-size: 14px;
  color: #393937;
  font-weight: 900;
  padding-top: 0px;
  margin-top: -8px;
  display: block;
}
.banner__form .form__title {
  font-size: 28px;
  font-weight: 900;
  padding-bottom: 24px;
}
.banner__form .form__text {
  text-transform: none;
  font-size: 16px;
  padding-bottom: 24px;
}
.banner__form .form input, .banner__form .form button {
  display: block;
  padding: 8px;
  margin: 8px 0 12px;
  width: 100%;
  border: none;
}
.banner__form .form input::placeholder {
  text-transform: uppercase;
}
.banner__form .form button {
  margin-top: 24px;
  cursor: pointer;
  color: #393937;
  text-transform: uppercase;
  font-weight: 900;
}
.banner .title {
  padding-top: 20vh;
}
@media screen and (min-width: 768px) {
  .banner .title {
    padding-top: 0;
  }
}
.banner .title__text-top {
  font-size: 14px;
  letter-spacing: 2px;
  padding-bottom: 8px;
}
.banner .title__text-middle {
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 5px;
  padding-bottom: 8px;
}
.banner .title__text-bottom {
  font-size: 16px;
  letter-spacing: 1.5px;
}
.banner .infos {
  font-weight: 900;
  padding-top: 20vh;
}
@media screen and (min-width: 768px) {
  .banner .infos {
    padding-top: 48px;
  }
}
.banner .infos__text-top {
  font-size: 18px;
  letter-spacing: 2.5px;
}
.banner .infos__text-bottom {
  font-size: 44px;
  text-transform: lowercase;
}
@media screen and (min-width: 768px) {
  .banner .price {
    padding-top: 48px;
  }
}
.banner .price__top {
  font-size: 14px;
  letter-spacing: 2px;
}
.banner .price__bottom {
  font-size: 24px;
  font-weight: 900;
}
.banner .btn {
  width: 100%;
  margin-bottom: 3vh;
}
@media screen and (min-width: 768px) {
  .banner .btn {
    display: none;
  }
}

.about {
  position: relative;
}
.about .buttons {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .about .buttons {
    position: absolute;
    padding: 0px;
    margin-left: 32px;
    top: 32px;
    right: 48px;
  }
}
.about .buttons__list {
  margin: 0 5px 0 5px;
}
@media screen and (min-width: 768px) {
  .about .buttons__list {
    margin-left: auto;
    margin-right: 0;
    padding-left: 64px;
  }
}
.about .buttons__item {
  padding: 0 5px 0 5px;
}
.about .buttons .btn {
  width: 100%;
}
.about .buttons .btn__text {
  font-size: 9px;
  font-weight: 400;
}
.about .card {
  background-color: #ECF2F2;
}
@media screen and (min-width: 768px) {
  .about .card {
    margin: 32px;
  }
}
.about .card__img {
  width: 100%;
  padding: 0;
}
.about .card__infos {
  padding: 32px;
}
@media screen and (min-width: 768px) {
  .about .card__infos {
    margin-top: 100px;
  }
}
.about .card__title {
  font-size: 22px;
  color: #5E5E5E;
  font-weight: 900;
  line-height: 1.1;
  padding-bottom: 24px;
}
.about .card__text {
  font-size: 14px;
  color: #393937;
  line-height: 1.5;
  padding-bottom: 24px;
}
.about .card .btn {
  width: 90%;
  margin: 0 auto 0 auto;
  font-weight: 900;
}

.split {
  margin-left: 0;
  margin-right: 0;
}

.diff {
  background-color: #ED6F2E;
  padding: 32px;
}
.diff__title {
  color: #5E5E5E;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 32px;
}
.diff__item {
  padding-bottom: 24px;
}
.diff__icon {
  align-self: flex-start;
  height: 36px;
}
.diff__text {
  color: #393937;
  font-size: 14px;
  padding-bottom: 8px;
}
.diff__subtext {
  color: #393937;
  font-size: 11px;
  opacity: 0.6;
}
.diff .btn {
  width: 90%;
  margin: 32px auto;
}
@media screen and (min-width: 768px) {
  .diff .btn {
    width: 50%;
    margin: 32px 0;
  }
}

.galery {
  background-color: #454545;
  padding: 32px 32px 48px;
}
.galery__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 900;
}
.galery__buttons {
  display: flex;
  justify-content: space-between;
}
.galery .btn {
  width: 48%;
  margin: 32px 0 48px;
}
.galery__img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

.adress {
  background-color: #454545;
}
.adress__infos {
  padding: 32px;
}
.adress__title {
  color: #ED6F2E;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 48px;
}
.adress__text {
  color: #ffffff;
  font-size: 14px;
  padding-bottom: 16px;
  line-height: 1.5;
}
.adress__pin {
  display: flex;
  align-items: center;
  padding: 32px 0;
}
.adress__pin p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 900;
}
.adress__img {
  padding-right: 12px;
}
.adress__buttons {
  margin: 0;
}
.adress .btn {
  font-weight: 400;
  font-size: 11px;
}
@media screen and (min-width: 768px) {
  .adress .btn {
    margin-left: 24px;
  }
}
.adress .btn:last-child {
  font-weight: 900;
}
.adress .gmap {
  width: 100%;
  height: 500px;
}

.footer {
  position: relative;
  bottom: 0;
  height: 447px;
  padding: 58px 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #252525;
  color: #5E5E5E;
}
.footer .divider {
  width: 100%;
  height: 1px;
  background-color: #363636;
}
.footer__infos {
  font-weight: 400;
  font-size: 12px;
  width: 100%;
}
.footer p {
  padding-bottom: 8px;
}

/*# sourceMappingURL=style.css.map */
