$white: #ffffff;
$light-gray:#5E5E5E;
$dark-gray: #393937;
$black: #252525;

$primary: #ED6F2E;
$secondary: #EB4826;
$bg-light: #ECF2F2;
$bg-dark: #454545;

$normal: 400;
$bold: 900;

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.btn {
  min-width: 60px;
  height: 40px;
  color: $white;
  border: none;
  transition: all .3s;
  text-transform: uppercase;
  font-weight: $bold;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $secondary;
    color: $white;
  }

  &-primary {
    background-color: $primary;
  }

  &-social {
    background-color: $secondary;
    font-weight: $normal;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
  
  &-dark {
    background-color: $dark-gray;
    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  &-outline {
    background-color: transparent;
    border: solid 2px $primary;
    color: $white;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }

  &__icon {
    padding-right: 8px;
    max-width: 24px;
  }
}







.banner{
  background-image: url('../assets/img/main-banner-mobile.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-transform: uppercase;
  text-align: center;
  padding:32px;

  span {
    display:block
  }

  .title {
    padding-top:20vh;

    &__text-top {
      font-size: 14px;
      letter-spacing: 2px;
      padding-bottom: 8px;
    }

    &__text-middle {
      font-size: 35px;
      font-weight: $bold;
      letter-spacing: 5px;
      padding-bottom: 8px;
    }

    &__text-bottom {
      font-size: 16px;
      letter-spacing: 1.5px;
    }


  }

  .infos {
    font-weight: $bold;
    padding-top:20vh;

    &__text-top {
      font-size:18px;
      letter-spacing: 2.5px;
    }
    &__text-bottom {
      font-size: 44px;
      text-transform: lowercase;
    }

  }

  .price {
    &__top {
      font-size: 14px;
      letter-spacing: 2px;
    }
    &__bottom {
      font-size: 24px;
      font-weight: $bold;
    }
  }

  .btn {
    width: 100%;
    margin-bottom:3vh;
  }


}

.about {

  .buttons {
    padding-top: 32px;
    padding-bottom: 32px;
    
    &__list {
      margin:0 5px 0 5px;
    }
  
    &__item {
      padding: 0 5px 0 5px;
    }

    .btn {
      width: 100%;
      &__text {
        font-size:9px;
        font-weight: $normal;
      }
    }
  }

  .card {
    background-color: $bg-light;

    &__img {
      width: 100%;
    }

    &__infos {
      padding: 32px;
    }

    &__title {
      font-size:22px;
      color: $light-gray;
      font-weight: $bold;
      line-height: 1.1;
      padding-bottom: 24px;
    }

    &__text {
      font-size:14px;
      color: $dark-gray;
      line-height: 1.5;
      padding-bottom: 24px;
    }

    .btn {
      width: 90%;
      margin: 0 auto 0 auto;
      font-weight: $bold;
    }

  }
  

}

.diff {
  background-color: $primary;
  padding:32px;

  &__title {
    color: $light-gray;
    font-size: 30px;
    font-weight: $bold;
    padding-bottom: 32px;
  }

  &__item {
    padding-bottom:24px;
  }

  &__icon{
    align-self: flex-start;
    height: 36px;
  }



  &__text {
    color: $dark-gray;
    font-size: 14px;
    padding-bottom: 8px;
  }

  &__subtext {
    color: $dark-gray;
    font-size: 11px;
    opacity: .6;
  }

  .btn {
    width: 90%;
    margin: 32px auto;
  }


}

.galery {
  background-color: $bg-dark;
  padding:32px 32px 48px;

  &__title {
    color: $white;
    font-size:30px;
    font-weight: $bold;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    width: 48%;
    margin: 32px 0 48px;
  }

  &__img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
  }
}

.adress {
  background-color: $bg-dark;

  &__infos {
    padding: 32px;
  }

  &__title {
    color: $primary;
    font-size: 30px;
    font-weight: $bold;
    padding-bottom:48px;
  }

  &__text {
    color: $white;
    font-size: 14px;
    padding-bottom:16px;
    line-height: 1.5;
  }

  &__pin {
    display: flex;
    align-items: center;
    padding: 32px 0;

    p {
      color: $white;
      font-size: 16px;
      font-weight: $bold;
    }
  }

  &__img {
    padding-right: 12px;
  }

  &__buttons {
    margin: 0;
  }

  .btn {
    font-weight: $normal;
    font-size: 11px;

    &:last-child{
      font-weight: $bold;
    }
  }












  .gmap {
    width:100%;
    height:500px;
  }
}

.footer {
  position:relative;
  bottom:0;
  height: 447px;
  padding: 58px 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
  color:$light-gray;

  .divider {
    width:100%;
    height: 1px;
    background-color: #363636;
  }

  &__infos {
    font-weight: 400;
    font-size:12px;
  }

  p {
    padding-bottom:8px
  }
} 