$white: #ffffff;
$light-gray:#5E5E5E;
$dark-gray: #393937;
$black: #252525;

$primary: #ED6F2E;
$secondary: #EB4826;
$bg-light: #ECF2F2;
$bg-dark: #454545;

$normal: 400;
$bold: 900;

$desktop: 768px;

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.btn {
  min-width: 60px;
  height: 40px;
  color: $white;
  border: none;
  transition: all .3s;
  text-transform: uppercase;
  font-weight: $bold;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $secondary;
    color: $white;
  }

  &-primary {
    background-color: $primary;
  }

  &-social {
    background-color: $secondary;
    font-weight: $normal;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
  
  &-dark {
    background-color: $dark-gray;
    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  &-outline {
    background-color: transparent;
    border: solid 2px $primary;
    color: $white;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }

  &__icon {
    padding-right: 8px;
    max-width: 24px;
  }
}

.menu {
  width: 100%;
  height: 64px;
  display: block;
  position: absolute;
  top: 0;
  display: flex;

  &__logo {
    background-image: url('../assets/svg/logo-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: $black;
    width: 20%;
    height: 100%;
    @media screen and (min-width: $desktop) {
      background-image: url('../assets/svg/logo.svg');
      background-size: 96px;
    }
  }

  &__search {
    width: 60%;
    height: 100%;
    background-color: rgba($black,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 24px;
      margin-left:18px;
      margin-right:8px;
    }

    input {
      height: 100%;
      width: calc(100% - 32px);
      padding-left: 12px;
      background-color: transparent;
      border: none;
      color: $white;
      font-size: 18px;
      
      &:focus {
        outline: none;
        border: $primary solid 1px;
      }
    }
  }

  &__hamburguer {
    background-color: $black;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .element {
      width: 5px;
      height: 5px;
      margin: 2px;
      border-radius: 10px;
      background-color: $white;
      @media screen and (min-width: $desktop) {
        width: 24px;
        height: 3px;
      }
    }
  }

  &__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    color: $white;
    padding: 12px;
    text-transform: uppercase;
    display: none;
    @media screen and (min-width: $desktop) {
      display: block;
    }
  }
}

.banner{
  background-image: url('../assets/img/main-banner-mobile.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-transform: uppercase;
  text-align: center;
  padding:32px;
  margin: 0;
  @media screen and (min-width: $desktop) {
    background-image: url('../assets/img/main-banner.jpg');
    justify-content: center;
    text-align: left;
    align-items: center;
    flex-direction: row;
    padding:0px;
  }

  span {
    display:block
  }

  &__form {
    background-color: $primary;
    height: calc(100% - 64px);
    width: 100%;
    align-self: flex-end;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: $desktop) {
      display: flex;
    }

    .form {
      width: 100%;

      label.error {
        text-transform: none;
        font-size:14px;
        color: $dark-gray;
        font-weight: $bold;
        padding-top: 0px;
        margin-top: -8px;
        display: block;
      }

      &__title {
        font-size:28px;
        font-weight: $bold;
        padding-bottom: 24px;

      }

      &__text {
        text-transform: none;
        font-size:16px;
        padding-bottom: 24px;
      }

      input, button {
        display: block;
        padding: 8px;
        margin: 8px 0 12px;
        width: 100%;
        border: none;
      }

      input::placeholder {
        text-transform: uppercase;
      }

      button {
        margin-top: 24px;
        cursor: pointer;
        color: $dark-gray;
        text-transform: uppercase;
        font-weight: $bold;
      }
    }
  }

  .title {
    padding-top:20vh;
    @media screen and (min-width: $desktop) {
      padding-top:0;
    }

    &__text-top {
      font-size: 14px;
      letter-spacing: 2px;
      padding-bottom: 8px;
    }

    &__text-middle {
      font-size: 35px;
      font-weight: $bold;
      letter-spacing: 5px;
      padding-bottom: 8px;
    }

    &__text-bottom {
      font-size: 16px;
      letter-spacing: 1.5px;
    }


  }

  .infos {
    font-weight: $bold;
    padding-top:20vh;
    @media screen and (min-width: $desktop) {
      padding-top:48px;
    }

    &__text-top {
      font-size:18px;
      letter-spacing: 2.5px;
    }
    &__text-bottom {
      font-size: 44px;
      text-transform: lowercase;
    }

  }

  .price {
    @media screen and (min-width: $desktop) {
      padding-top:48px;
    }
    &__top {
      font-size: 14px;
      letter-spacing: 2px;
    }
    &__bottom {
      font-size: 24px;
      font-weight: $bold;
    }
  }

  .btn {
    width: 100%;
    margin-bottom:3vh;

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }


}

.about {
  position: relative;

  .buttons {
    padding-top: 32px;
    padding-bottom: 32px;
    @media screen and (min-width: $desktop) {
      position: absolute;
      padding: 0px;
      margin-left:32px;
      top: 32px;
      right: 48px;
    }
    
    &__list {
      margin:0 5px 0 5px;
      @media screen and (min-width: $desktop) {
        margin-left: auto;
        margin-right: 0;
        padding-left: 64px;
      }
    }
  
    &__item {
      padding: 0 5px 0 5px;
    }

    .btn {
      width: 100%;
      &__text {
        font-size:9px;
        font-weight: $normal;
      }
    }
  }

  .card {
    background-color: $bg-light;
    @media screen and (min-width: $desktop) {
      margin:32px
    }

    &__img {
      width: 100%;
      padding:0;
    }

    &__infos {
      padding: 32px;
      @media screen and (min-width: $desktop) {
        margin-top: 100px
      }
    }

    &__title {
      font-size:22px;
      color: $light-gray;
      font-weight: $bold;
      line-height: 1.1;
      padding-bottom: 24px;
    }

    &__text {
      font-size:14px;
      color: $dark-gray;
      line-height: 1.5;
      padding-bottom: 24px;
    }

    .btn {
      width: 90%;
      margin: 0 auto 0 auto;
      font-weight: $bold;
    }

  }

}

.split {
  margin-left: 0;
  margin-right: 0;

}

.diff {
  background-color: $primary;
  padding:32px;

  &__title {
    color: $light-gray;
    font-size: 30px;
    font-weight: $bold;
    padding-bottom: 32px;
  }

  &__item {
    padding-bottom:24px;
  }

  &__icon{
    align-self: flex-start;
    height: 36px;
  }



  &__text {
    color: $dark-gray;
    font-size: 14px;
    padding-bottom: 8px;
  }

  &__subtext {
    color: $dark-gray;
    font-size: 11px;
    opacity: .6;
  }

  .btn {
    width: 90%;
    margin: 32px auto;
    @media screen and (min-width: $desktop) {
      width: 50%;
      margin: 32px 0; 
    }
  }


}

.galery {
  background-color: $bg-dark;
  padding:32px 32px 48px;

  &__title {
    color: $white;
    font-size:30px;
    font-weight: $bold;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    width: 48%;
    margin: 32px 0 48px;
  }

  &__img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
  }
}

.adress {
  background-color: $bg-dark;

  &__infos {
    padding: 32px;
  }

  &__title {
    color: $primary;
    font-size: 30px;
    font-weight: $bold;
    padding-bottom:48px;
  }

  &__text {
    color: $white;
    font-size: 14px;
    padding-bottom:16px;
    line-height: 1.5;
  }

  &__pin {
    display: flex;
    align-items: center;
    padding: 32px 0;

    p {
      color: $white;
      font-size: 16px;
      font-weight: $bold;
    }
  }

  &__img {
    padding-right: 12px;
  }

  &__buttons {
    margin: 0;
  }

  .btn {
    font-weight: $normal;
    font-size: 11px;
    @media screen and (min-width: $desktop) {
      margin-left: 24px;
    }

    &:last-child{
      font-weight: $bold;
    }
  }












  .gmap {
    width:100%;
    height:500px;
  }
}

.footer {
  position:relative;
  bottom:0;
  height: 447px;
  padding: 58px 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
  color:$light-gray;

  .divider {
    width:100%;
    height: 1px;
    background-color: #363636;
  }

  &__infos {
    font-weight: 400;
    font-size:12px;
    width: 100%;
  }

  p {
    padding-bottom:8px
  }
} 
